{% extends "layout.html" %}

{% block head %}Hello{% endblock%}

{% block body %}
<div class="container">
    <div class="container py-1 bg-dark border border-info rounded-lg my-3">
        <form action="{{ url_for('send_it') }}" method="POST" enctype="multipart/form-data">
            <textarea id="message" name="message" class="form-control text-light border-0 shadow-none bg-dark" rows="5"
                placeholder="Insert message"></textarea>


            <div class="d-flex bd-highlight ">
                <div class="p-2 bd-highlight">
                    <label for="file-input" class="btn btn-info btn-lg">
                        <i class="bi bi-plus-lg"></i>  File
                    </label>
                </div>
                <input type="file" name="file" id="file-input"  multiple style="display: none;" onchange="previewFile()">
                <div class="p-2 flex-grow-1 bd-highlight align-self-center">
                    <div id="file-preview"></div>
                </div>
                <input type="hidden" value="submit">
                <!-- 提交按钮 -->
                <div class="ms-auto p-2 bd-highlight">
                    <button class="btn btn-info btn-lg" type="submit">
                        <i class="bi bi-send"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

    {% for batch_id, items in grouped_items.items() %}
    <div class="container bg-dark text-break mb-3 rounded-lg">
        {% for item in items %}
        <div class="d-flex bd-highlight text-muted fw-lighter">
            {% if loop.first %}
            <p><small>{{ item.timestamp }}</small></p>
            {% endif %}
        </div>
        <div class="d-flex pb-3 bd-highlight">
            {% if item.type == 'message' %}
            <div class="mr-auto bd-highlight text-light align-self-center">
                {{ item.message|urlize }}
            </div>
            <div class="p-2 bd-highlight align-self-center">
                <button class="btn btn-dark border-0" onclick="copyToClipboard('{{ item.message }}')"><i
                        class="bi bi-clipboard text-info btn-lg"></i></button>
            </div>
            <div class="py-2 bd-highlight align-self-center">
                <form method="POST" action="{{ url_for('delete_message', id=item.id) }}" style="display:inline;">
                    <input type="hidden" name="id" value="{{ item.id }}">
                    <button class="btn btn-dark border-0 btn-lg" type="submit"><i
                            class="bi bi-trash text-info"></i></button>
                </form>
            </div>
            {% else %}
            <div class="mr-auto bd-highlight text-light align-self-center">
                <img src="{{ url_for('download_file', filename=item.name) }}" height="80px" alt="Image">
                {{ item.name }}
            </div>
            <div class="p-2 bd-highlight align-self-center">
                <form method="GET" action="{{ url_for('download_file', filename=item.name) }}" style="display:inline;">
                    <button class="btn btn-dark border-0" type="submit"><i
                            class="bi bi-download text-info btn-lg"></i></button>
                </form>
            </div>
            <div class="py-2 bd-highlight align-self-center">
                <form method="POST" action="{{ url_for('delete_file', id=item.id) }}" style="display:inline;">
                    <input type="hidden" name="id" value="{{ item.id }}">
                    <button class="btn btn-dark btn-lg border-0" type="submit"><i
                            class="bi bi-trash text-info"></i></button>
                </form>
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>




<script>
    function copyToClipboard(text) {
        var tempInput = document.createElement('input');
        tempInput.value = text;
        document.body.appendChild(tempInput);
        tempInput.select();
        document.execCommand('copy');
        document.body.removeChild(tempInput);
    }
    function previewFile() {
        const fileInput = document.getElementById('file-input');
        const filePreview = document.getElementById('file-preview');

        filePreview.innerHTML = ''; // 清空之前的预览内容

        const files = fileInput.files;
        for (const file of files) {
            const fileName = document.createElement('p');
            fileName.textContent = file.name;
            filePreview.appendChild(fileName);
        }
    }
</script>



{% endblock %}