{% extends "layout.html" %}

{% block head %}SendMe{% endblock %}

{% block body %}
<div class="container">
    <div class="container py-1 bg-dark border border-info rounded-lg my-3">
        <form action="{{ url_for('upload_it') }}" method="POST" enctype="multipart/form-data" id="uploadForm">
            <textarea id="message" name="message" class="form-control text-light border-0 shadow-none bg-dark" rows="5"
                placeholder="Insert message...  Press cmd/ctrl + Enter to send"></textarea>

            <div class="d-flex bd-highlight ">
                <div class="p-2 bd-highlight">
                    <label for="file-input" class="btn btn-info btn-lg">
                        <i class="bi bi-plus-lg"></i> File
                    </label>
                </div>
                <input type="file" name="file" id="file-input" multiple style="display: none;" onchange="previewFile()">
                <div class="p-2 flex-grow-1 bd-highlight align-self-center">
                    <div id="file-preview"></div>
                </div>
                <input type="hidden" value="submit">
                <div class="ms-auto p-2 bd-highlight">
                    <button class="btn btn-info btn-lg" type="submit">
                        <i class="bi bi-send"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

    <div id="items-container">
        {% for batch_id, items in grouped_items.items() %}
        <div class="bg-dark text-break pl-3 mb-3 rounded-lg" data-batch-id="{{ batch_id }}">
            <div class="d-flex justify-content-between bd-highlight text-muted fw-lighter">
                <p><small>{{ items[0].timestamp }}</small></p>
                <div class="bd-highlight">
                    <form method="POST" action="{{ url_for('delete_batch', batch_id=batch_id) }}"
                        style="display:inline;">
                        <button class="btn btn-dark btn-sm border-0" type="submit">
                            <i class="bi bi-x text-muted"></i>
                        </button>
                    </form>
                </div>
            </div>
            {% for item in items %}
            <div class="d-flex pb-3 bd-highlight">
                {% if item.type == 'message' %}
                <div class="mr-auto bd-highlight text-light align-self-center">
                    {{ item.message|urlize }}
                </div>
                <div class="p-2 bd-highlight align-self-center">
                    <button class="btn btn-dark border-0 copy-btn"
                        onclick="copyToClipboard('{{ item.message }}', this)">
                        <i class="bi bi-clipboard text-info btn-lg"></i>
                    </button>
                </div>
                {% else %}
                <div class="mr-auto bd-highlight text-light align-self-center">
                    <img src="{{ item.url }}" height="80px" alt="Image">
                    {{ item.name }}
                </div>
                <div class="p-2 bd-highlight align-self-center">
                    <form method="GET" action="{{ url_for('download_file', filename=item.name) }}"
                        style="display:inline;">
                        <button class="btn btn-dark border-0" type="submit"><i
                                class="bi bi-download text-info btn-lg"></i></button>
                    </form>
                </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>

<script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
<script>
    const socket = io.connect('http://' + document.domain + ':' + location.port);

    socket.on('new_message', function (data) {
        addNewItem(data);
    });

    socket.on('new_file', function (data) {
        addNewItem(data);
    });

    socket.on('delete_batch', function (data) {
        const batchId = data.batch_id;
        const batchElement = document.querySelector(`[data-batch-id="${batchId}"]`);
        if (batchElement) {
            batchElement.remove();
        }
    });

    function addNewItem(data) {
        const container = document.getElementById('items-container');
        const batchId = data.batch_id;
        let batchElement = document.querySelector(`[data-batch-id="${batchId}"]`);

        if (!batchElement) {
            batchElement = document.createElement('div');
            batchElement.classList.add('bg-dark', 'text-break', 'pl-3', 'mb-3', 'rounded-lg');
            batchElement.setAttribute('data-batch-id', batchId);

            const header = document.createElement('div');
            header.classList.add('d-flex', 'justify-content-between', 'bd-highlight', 'text-muted', 'fw-lighter');
            header.innerHTML = `<p><small>${data.timestamp}</small></p>
                                <div class="bd-highlight">
                                    <form method="POST" action="/delete_batch/${batchId}" style="display:inline;">
                                        <button class="btn btn-dark btn-sm border-0" type="submit"><i class="bi bi-x text-muted"></i></button>
                                    </form>
                                </div>`;
            batchElement.appendChild(header);

            container.insertBefore(batchElement, container.firstChild);
        }

        const itemElement = document.createElement('div');
        itemElement.classList.add('d-flex', 'pb-3', 'bd-highlight');

        if (data.type === 'message') {
            itemElement.innerHTML = `<div class="mr-auto bd-highlight text-light align-self-center">${data.message}</div>
                                     <div class="p-2 bd-highlight align-self-center">
                                         <button class="btn btn-dark border-0" onclick="copyToClipboard('${data.message}', this)"><i class="bi bi-clipboard text-info btn-lg"></i></button>
                                     </div>`;
        } else if (data.type === 'file') {
            itemElement.innerHTML = `<div class="mr-auto bd-highlight text-light align-self-center">
                                         <img src="${data.url}" height="80px" alt="Image">
                                         ${data.name}
                                     </div>
                                     <div class="p-2 bd-highlight align-self-center">
                                         <form method="GET" action="/downloads/${data.name}" style="display:inline;">
                                             <button class="btn btn-dark border-0" type="submit"><i class="bi bi-download text-info btn-lg"></i></button>
                                         </form>
                                     </div>`;
        }

        batchElement.appendChild(itemElement);
    }

    function copyToClipboard(text, button) {
        var tempInput = document.createElement('input');
        tempInput.value = text;
        document.body.appendChild(tempInput);
        tempInput.select();
        document.execCommand('copy');
        document.body.removeChild(tempInput);

        const originalIcon = button.innerHTML;
        button.innerHTML = '<i class="bi bi-clipboard-check text-success btn-lg"></i>';

        setTimeout(() => {
            button.innerHTML = originalIcon;
        }, 2000);
    }

    function previewFile() {
        const fileInput = document.getElementById('file-input');
        const filePreview = document.getElementById('file-preview');

        filePreview.innerHTML = ''; // Clear previous previews

        const files = fileInput.files;
        for (const file of files) {
            const fileName = document.createElement('p');
            fileName.textContent = file.name;
            filePreview.appendChild(fileName);
        }
    }

    document.getElementById('message').addEventListener('keydown', function (event) {
        if (event.key === 'Enter' && (event.ctrlKey || event.metaKey)) {
            event.preventDefault();
            document.getElementById('uploadForm').submit();
        }
    });
</script>
{% endblock %}
