{% extends "layout.html" %}

{% block head %}SendMe{% endblock %}

{% block body %}
<div class="container">
    <div class="container py-1 bg-dark border border-info rounded-lg my-3">
        <form action="{{ url_for('upload_it') }}" method="POST" enctype="multipart/form-data" id="uploadForm">
            <textarea id="message" name="message" class="form-control text-light border-0 shadow-none bg-dark" rows="5"
                placeholder="Insert message...  Press cmd/ctrl + Enter to send"></textarea>

            <div class="d-flex bd-highlight ">
                <div class="p-2 bd-highlight">
                    <label for="file-input" class="btn btn-info btn-lg">
                        <i class="bi bi-plus-lg"></i> File
                    </label>
                </div>
                <input type="file" name="file" id="file-input" multiple style="display: none;" onchange="previewFile()">
                <div class="p-2 flex-grow-1 bd-highlight align-self-center">
                    <div id="file-preview"></div>
                </div>
                <input type="hidden" value="submit">
                <div class="ms-auto p-2 bd-highlight">
                    <button class="btn btn-info btn-lg" type="submit">
                        <i class="bi bi-send"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

    <div id="items-container">
        {% for batch_id, items in grouped_items.items() %}
        <div class="bg-dark text-break pl-3 mb-3 rounded-lg" data-batch-id="{{ batch_id }}">
            <div class="d-flex justify-content-between bd-highlight text-muted fw-lighter">
                <p><small>{{ items[0].timestamp }}</small></p>
                <div class="bd-highlight">
                    <form method="POST" action="{{ url_for('delete_batch', batch_id=batch_id) }}"
                        style="display:inline;">
                        <button class="btn btn-dark btn-sm border-0" type="submit">
                            <i class="bi bi-x text-muted"></i>
                        </button>
                    </form>
                </div>
            </div>
            {% for item in items %}
            <div class="d-flex pb-3 bd-highlight">
                {% if item.type == 'message' %}
                <div class="mr-auto bd-highlight text-light align-self-center">
                    {{ item.message|urlize }}
                </div>
                <div class="p-2 bd-highlight align-self-center">
                    <button class="btn btn-dark border-0 copy-btn"
                        onclick="copyToClipboard('{{ item.message }}', this)">
                        <i class="bi bi-clipboard text-info btn-lg"></i>
                    </button>
                </div>
                {% else %}
                <div class="mr-auto bd-highlight text-light align-self-center">
                    <img src="{{ item.url }}" height="80px" alt="Image">
                    {{ item.name }}
                </div>
                <div class="p-2 bd-highlight align-self-center">
                    <form method="GET" action="{{ url_for('download_file', filename=item.name) }}"
                        style="display:inline;">
                        <button class="btn btn-dark border-0" type="submit"><i
                                class="bi bi-download text-info btn-lg"></i></button>
                    </form>
                </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>

<script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
<script src="/static/js/script.js"></script>    
{% endblock %}