{% extends "layout.html" %}

{% block head %}register{% endblock %}

{% block body %}
<h1>Register</h1>
<form method="POST" action="{{ url_for('register') }}">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username">
    <label for="password">Password:</label>
    <input type="password" id="password" name="password">
    <button type="submit">Register</button>
</form>
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
{% endblock %}